body {
  background-color: green !important;
}

.board {
  margin:auto !important;
  margin:0;
  padding:0;
  background:#2F2F2F;
  border-style:solid;
  border-color:#2F2F2F;
  border-width:5px;
  height:auto;
}

button {
  background: black;
  color:white;
  outline:none;
  border:none;
  font-size:1rem;
}

table {
  border-spacing: 1px;
  table-layout: fixed;
  width:auto;
}


td {
  border-style:none !important;
  border-color:white !important;
  background:#800000;
  width:10px;
  height:10px;
  min-width: 10px;
  min-height: 10px;
}

.on {
  background:black;
}

/*.cell {

  padding:0;
  margin:4px !important;
  border-color: white;

  background:darkgreen;
  height:16px;
  width:16px;
}*/
