
<!-- <div class="board">
  <div class="row" *ngFor="let key of numbers">
    <div class="cell" *ngFor="let key of numbers">

    </div>
  </div>
</div> -->


  <table class="board">
    <tr class="row" *ngFor="let rIndex of nRow">
      <td class="cell" [attr.id]="'Cell-'+ rIndex +'-' +cIndex"
      (click)="changeCellState(rIndex, cIndex)"  *ngFor="let cIndex of nCol"
      [style.background]="checkState(rIndex, cIndex) ? 'red': 'black'"
      >

      </td>
    </tr>

  </table>

  <button (click)="startSim()">Run</button>
  <button (click)="clearBoard()">Clear</button>
  <button (click)="checkBoard()">Check</button>
