<h1 class="title">Game Of Life</h1>



<div class="board">

  <table>
    <tr class="row" *ngFor="let rIndex of nRow">
      <td class="cell" [attr.id]="'Cell-'+ rIndex +'-' +cIndex" (click)="changeCellState(rIndex, cIndex)" *ngFor="let cIndex of nCol" [style.background]="checkState(rIndex, cIndex) ? '#9C1111': 'black'">
      </td>
    </tr>
  </table>

  <div class="buttonRow">
    <button (click)="run()">Run</button>
    <button (click)=pause()>Pause</button>
    <button (click)="clearBoard()">Clear</button>

    <select (change)="changeSpeed($event.target.value)">
      <option *ngFor="let speed of speeds">
        {{speed}}
      </option>
    </select>

    <select (change)="changePattern($event.target.value)">
      <option *ngFor="let pattern of patterns">
        {{pattern}}
      </option>
    </select>
    <i (click)="refresh()" class="fa fa-refresh"></i>

    <h3 class="generationCount">Generation: {{ generationNum }}</h3>
  </div>

</div>
